auto-labeled/output_hd/newdata_hd.json
auto-labeled/output/llamabase7b_instruction/train_log/best_acc_model.pt
auto-labeled/output/hd_newdata/train_log/best_acc_model.pt
auto-labeled/output/hd_newdata/train_log/last_model.pt
hd_newdata22/digits_instruction_label_hds.json
hd_newdata22/permutation_wordlength_instruction_label_hds.json
hd_newdata22/permutation_quotepresence_instruction_label_hd.json
hd_newdata22/permutation_wordlength_instruction_label_hd.json
hd_newdata22/language_instruction_label_hd.json
hd_newdata22/json_instruction_label_hds.json
hd_newdata22/wordlength_instruction_label_hd.json
hd_newdata22/quotepresence_instruction_label_hds.json
hd_newdata22/list_instruction_label_hd.json
hd_newdata22/permutation_case_instruction_label_hds.json
hd_newdata22/permutation_digits_instruction_label_hd.json
hd_newdata22/permutation_list_instruction_label_hds.json
hd_newdata22/permutation_quotepresence_instruction_label_hds.json
hd_newdata22/permutation_language_instruction_label_hd.json
hd_newdata22/sentencecount_instruction_label_hd.json
hd_newdata22/case_instruction_label_hds.json
hd_newdata22/permutation_digits_instruction_label_hds.json
hd_newdata22/language_instruction_label_hds.json
hd_newdata22/case_instruction_label_hd.json
hd_newdata22/quotepresence_instruction_label_hd.json
hd_newdata22/wordlength_instruction_label_hds.json
hd_newdata22/sentencecount_instruction_label_hds.json
hd_newdata22/json_instruction_label_hd.json
hd_newdata22/permutation_case_instruction_label_hd.json
hd_newdata22/permutation_sentencecount_instruction_label_hds.json
hd_newdata22/permutation_sentencecount_instruction_label_hd.json
hd_newdata22/permutation_list_instruction_label_hd.json
hd_newdata22/digits_instruction_label_hd.json
hd_newdata22/permutation_language_instruction_label_hds.json
hd_newdata22/permutation_json_instruction_label_hds.json
hd_newdata22/list_instruction_label_hds.json
hd_newdata22/permutation_json_instruction_label_hd.json
hd_newdata_old/digits_instruction_label_hds.json
hd_newdata_old/json_instruction_label_hds.json
hd_newdata_old/quotepresence_instruction_label_hds.json
hd_newdata_old/case_instruction_label_hds.json
hd_newdata_old/language_instruction_label_hds.json
hd_newdata_old/wordlength_instruction_label_hds.json
hd_newdata_old/list_instruction_label_hds.json
instruction_hd.json
helm/hd/llamabase7b/hd.json
hd_newdata_abanden/permutation_wordlength_instruction_label_hds.json
hd_newdata_abanden/permutation_case_instruction_label_hds.json
hd_newdata_abanden/permutation_list_instruction_label_hds.json
hd_newdata_abanden/permutation_quotepresence_instruction_label_hds.json
hd_newdata_abanden/permutation_digits_instruction_label_hds.json
hd_newdata_abanden/sentencecount_instruction_label_hds.json
hd_newdata_abanden/permutation_sentencecount_instruction_label_hds.json
hd_newdata_abanden/permutation_language_instruction_label_hds.json
hd_newdata_abanden/permutation_json_instruction_label_hds.json
train_newdata/output/hd_newdata_safe_debug/train_log/best_acc_model.pt
train_newdata/output/hd_newdata_safe_debug/train_log/last_model.pt
train_newdata/output/hd_newdata/train_log/best_acc_model.pt
train_newdata/output/hd_newdata_safe/train_log/best_acc_model.pt
train_newdata/output/hd_newdata_safe/train_log/last_model.pt
train_newdata/best_mind_entropy.pt
train_newdata/best_model.pt
train_newdata/best_mind_classifier.pt
train_newdata/best_ebm.pt
train_newdata/best_entropy_model.pt
train_newdata/best_ebm_model.pt
hd_newdata/permutation_quotepresence_instruction_label_hd.json
hd_newdata/permutation_wordlength_instruction_label_hd.json
hd_newdata/language_instruction_label_hd.json
hd_newdata/wordlength_instruction_label_hd.json
hd_newdata/list_instruction_label_hd.json
hd_newdata/permutation_digits_instruction_label_hd.json
hd_newdata/permutation_language_instruction_label_hd.json
hd_newdata/sentencecount_instruction_label_hd.json
hd_newdata/case_instruction_label_hd.json
hd_newdata/quotepresence_instruction_label_hd.json
hd_newdata/json_instruction_label_hd.json
hd_newdata/permutation_case_instruction_label_hd.json
hd_newdata/permutation_sentencecount_instruction_label_hd.json
hd_newdata/permutation_list_instruction_label_hd.json
hd_newdata/digits_instruction_label_hd.json
hd_newdata/permutation_json_instruction_label_hd.json
hd_IHEval/lang_detect_labeled_hd.json
hd_IHEval/translation_labeled_hd.json
hd_IHEval/verb_labeled_hd.json
hd_IHEval/rule-following_labeled_hd.json
hd_IHEval/safety_labeled_hd.json
.git/objects/60/4a69d7184893c07f5876ef764c025ea2b74d40
.git/objects/86/e548b5a3cff0008b365c554571d68b67f9b22b
.git/objects/81/0b9e1f14359c24a749bd714ecee4e9302ec052
.git/objects/41/39b7b4b1533582ef42907ee28ddd388b5edf39
.git/objects/6a/0fbd94c8ff3173a835f628ca194ac8ddf7716a
.git/objects/b1/tmp_obj_R8Heag
.git/objects/87/aab65d7a767819a93b9c511b8d5c8035b7c520

# System files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.venv
venv/
env/

# IDEs
.vscode/
.idea/
.agent/
